/*
* The various CSS classes needed for the map object in the Bees project.
*/


/*.icon-zoom-previous
{
    background-image: url(/images/zoom_previous.png) !important;
    height: 24px !important;
    width: 24px !important;
}
.icon-zoom-next
{
    background-image: url(/images/zoom_next.png) !important;
    height: 24px !important;
    width: 24px !important;
}
.icon-zoom-in
{
    background-image: url(/images/zoom_in.png) !important;
    height: 24px !important;
    width: 24px !important;
}
.icon-zoom-out
{
    background-image: url(/images/zoom_out.png) !important;
    height: 24px !important;
    width: 24px !important;
}
.icon-measure-distance
{
    background-image: url(/images/ruler.png) !important;
    height: 24px !important;
    width: 24px !important;
}
.icon-measure-area
{
    background-image: url(/images/ruler_square.png) !important;
    height: 24px !important;
    width: 24px !important;
}*/
.icon-legend
{
    background-image: url(/Images/legend.png) !important;
    height: 24px !important;
    width: 24px !important;
}
.icon-help
{
    background-image: url(/ikoner/spoergsmaal.png) !important; /* images/help */
   /* height: 24px !important;
    width: 24px !important; */
}
/*.icon-identify
{
    background-image: url(/images/identify.png) !important;
    height: 24px !important;
    width: 24px !important;
}
.icon-aws
{
    background-image: url(/images/aws.png) !important;
    height: 24px !important;
    width: 24px !important;
}*/

/* This CSS file provides the default look of the dropdown autocomplete textboxes.
   Link to your own version instead of this to customize the look, and/or use a different CSS class than 'defaultAutocompleteLook' in the relevant div tag */

/*div.defaultAutocompleteLook
{
	font-family: Verdana, Arial;
	border:1px solid #888888;
	margin:0px;
	padding:0px;
	font-size: 11px;
}

div.defaultAutocompleteLook ul
{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

div.defaultAutocompleteLook ul li
{
	list-style-type:none;
	display:block;
	margin:0;
	padding:2px;
	cursor:pointer;
	background-color: #ffffff;
}

div.defaultAutocompleteLook ul li.selected
{
	background-color: #8888ff;
}*/