﻿.forsidetekst
{
    font: normal 14px/17px tahoma, arial, verdana, sans-serif !important;
}

/*.comboItemActive
{
  color: black; 
}
.comboItemDisabled
{
  color: gray; 
}*/

.x-form-cb-label {
	padding: 0px;
}
.radio_nopadding .x-form-cb-label .x-form-cb-label-after {
   padding-left: 16px;
}

col.colhide {
	visibility: collapse
}

.legendlayer {
    color: #000000;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
}

.header_fed {
    font-family: tahoma,arial,helvetica,sans-serif; 
    font-size: 11px; 
    font-weight: bold;
}
.x-fieldset-header-text
{
	font-weight: bold; color: #1a5d4b; 
}

.x-fieldset 
{
	border: 1px solid #1a5d4b;
}


.icon-ok
{
    background-image: url(/Images/Icons/okgem.png) !important;
}

.icon-vis
{
    background-image: url(/Images/Icons/eye.png) !important;
}

.icon-mail
{
    background-image: url(/Images/Icons/mail.png) !important;
}

.icon-add
{
    background-image: url(/Images/Icons/add.png) !important;
}

.icon-remove
{
    background-image: url(/Images/Icons/remove.png) !important;
}

.icon-excel
{
    background-image: url(/Images/Icons/excel16.png) !important;
}

.x-form-item-label-top {
    display: block;
    padding: 0 0 2px;
}

/*
bruges ikke, hvis hele formen sættes disabled med x-mask
.x-item-disabled .x-form-item-label, .x-item-disabled .x-form-field, .x-item-disabled .x-form-cb-label, .x-item-disabled .x-form-trigger 
{
    opacity: 0.5;
}
*/
.x-mask {
    background: none repeat scroll 0 0 #CCCCCC;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}










/* herunder blot lånt fra bier. De ting der bruges, flyttes ovenfor.  */
td
{
	vertical-align: top;
}

.formular 
{
padding: 10px;
padding-right: 30px;
}
label
{
	font: 11px arial,tahoma,verdana,helvetica;
	padding: 6px;
}
.labelOverskrift
{
	font: 14px arial,tahoma,verdana,helvetica;
	font-weight: bold;
}

.kontaktinfo
{
    font: normal 11px tahoma, arial, helvetica, sans-serif;
    white-space:  normal;
    overflow: auto ;
    float: left ;
    margin-right: 20px;
    margin-bottom: 10px;
    vertical-align: top;
    border-color: #999999;
    border-width: 1px;
    border-style : solid ;
    padding : 5px;
}
.x-form-dirty-icon {
    background-image:url(/Images/default/form/exclamation.gif); /* ugyldig sti */
}

.icon-cancel
{
    background-image: url(/Images/Icons/cancel.png) !important;
}

.icon-save
{
    background-image: url(/Images/Icons/saveHS.png) !important; /* ugyldig sti */
}


.icon-edit
{
    background-image: url(/Images/Icons/pencil.png) !important;
}
.icon-gps
{
    background-image: url(/Images/Icons/gps.png) !important;
}
.icon-koordinatfanger
{
    background-image: url(/Images/Icons/koordinatfanger.png) !important;
}


.icon-point
{
    background-image: url(/Images/Icons/Toolbar/identify.png) !important; /* ugyldig sti */
}

.icon-select-area
{
    background-image: url(/Images/Icons/vaelg_omraade_16_2.png) !important;
}


.icon-legend
{
    background-image: url(/Images/Icons/legend.png) !important;
    height: 24px !important;
    width: 24px !important;
}
.icon-layers
{
    background-image: url(/images/Icons/layers.png) !important; /* ugyldig sti */
}

.icon-ortho
{
    background-image: url(/images/Icons/Toolbar/orthophoto.png) !important; /* ugyldig sti */
    height: 24px !important;
    width: 24px !important;
}

.icon-map
{
    background-image: url(/images/Icons/Toolbar/kms_map.gif) !important; /* ugyldig sti */
    height: 24px !important;
    width: 24px !important;
}

.icon-pdf
{
    background-image: url(/images/Icons/pdf.gif) !important; 
}

.icon-ny-bigaard
{
    background-image: url(/ikoner/le34KoordinatFanger.png) !important; /* ugyldig sti */
    /*
height: 24px !important;
    width: 24px !important;
*/
}

.icon-ny-bigaard-disabled
{
    background-image: url(/ikoner/le34KoordinatFanger_graa.png) !important; /* ugyldig sti */
    height: 24px !important;
    width: 24px !important;
}

.ux-rangemenu-lt
{
	background-image: url('/Libraries/Ext 41/examples/ux/grid/images/less_than.png') !important;
}

.ux-rangemenu-gt
{
	background-image: url('/Libraries/Ext 41/examples/ux/grid/images/greater_than.png') !important;
}


.ux-rangemenu-eq
{
	background-image: url('/Libraries/Ext 41/examples/ux/grid/images/equals.png') !important;
}

.readonly
{
    color: #1a5d4b;
}

.fejl
{
    color: #ff0000 !important;
}
.graanet_raekke
{
    color: #336633;
}

.sort_raekke
{
    color: #000000;
}

.lysegraa_tekst
{
    color: #999999;
}


.cssAnmeldt 
{
    color: #cc6600;
}
.cssIndsamling 
{
    color: #009999;
}
.cssAnalyse 
{
    color: #cc00cc;
}

.fieldset-red .x-fieldset-header-text {
	background-color: #666666;
	color: yellow;
}


.udbrud_slet
{
	background-color: #ffcccc !important;
	color: black !important;
}

.udbrud_benyt
{
	background-color: #ccffcc !important;
	color: black !important;
}

.udbrud_erstat
{
	background-color: #ffffcc !important;
	color: black !important;
}

 
.chk_klemt
{
	/*
	padding-top: 0px; 
	padding-bottom: 0px; 
*/
	margin-top: -4px; 
	margin-bottom: -4px; 	
}

.comboItemActive
{
  color: black; 
}
.comboItemDisabled
{
  color: gray; 
}

/******************* rettelse af baggrundsbillede til at køre i gråt tema ********************/

/* toolbarens baggrundsbillede */ /* findes ikke */
.x-toolbar{
	border-color:#a9bfd3;
    background-color:#d0def0;
    /*background-image:url(../Libraries/Ext 41/resources/images/gray/toolbar/bg.gif);*/ 
}

/* hele skærmens baggrundsbillede */
/*.x-border-layout-ct {
    background-color:#f0f0f0;
}*/

/* panelvinduernes header baggrundsbillede */ /* billedet findes ikke */
.x-panel-header {
    /* color:#333; - nej det er bedre at fastholde at den er blå */
	font-weight:bold; 
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
    border-color:#d0d0d0;
    /*background-image: url(../Libraries/Ext 41/resources/images/gray/panel/white-top-bottom.gif);*/
}




/*
 * GridFilters Styles
 */

.ux-filtered-column {
    /* font-style: italic; */
    font-weight: bold;
    color: #600000;
}
/* text-filter */
.ux-gridfilter-text-icon {
    background-image: url('/Libraries/Ext 41/examples/ux/grid/images/find.png') !important;
	/*height: 24px !important;
    width: 24px !important;*/
}

/*.x-ai-button-pressed{*/
.x-btn-default-toolbar-small-pressed {
    font-weight: bold;
    color: #600000;
}


/* Remove mystery padding in Gecko browsers.
* See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
*/
button.linkButton::-moz-focus-inner {
padding:0;
border:0;
}