/*
 * RangeMenu Styles
 */

.ux-rangemenu-icon {
    margin-top: 0;
}

/*
.ux-rangemenu-gt {
    background-image: url(../images/greater_than.png) !important;
}

.ux-rangemenu-lt {
    background-image: url(../images/less_than.png) !important;
}

.ux-rangemenu-eq {
    background-image: url(../images/equals.png) !important;
}
*/

.ux-rangemenu-lt
{
	background-image: url(Libraries/Ext 41/examples/ux/grid/images/less_than.png) !important;
}

.ux-rangemenu-gt
{
	background-image: url(Libraries/Ext 41/examples/ux/grid/images/greater_than.png) !important;
}


.ux-rangemenu-eq
{
	background-image: url(Libraries/Ext 41/examples/ux/grid/images/equals.png) !important;
}
