﻿<%@ Page Title="Vildsvin"  Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Vildsvin.Default" %>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Vildsvin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="/Libraries/Ext 41/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="/css/vildsvin.css" />


	<!-- checkcolumn-->
    <link rel="stylesheet" type="text/css" href="/Libraries/Ext 41/examples/ux/css/CheckHeader.css" />

<%--<script type="text/javascript">
	// global variabel
	var BackKeyCalled = false;

	window.onbeforeunload = function () {
		return "You have not saved your document yet.  If you continue, your work will not be saved."
	}
</script>--%>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
